nav {
  height: 50px;
  background: black;
  display: flex;
  align-items: center;
}

nav a {
  display: inline-flex;
  align-items: center;
}

.logo {
  color: white;
  margin-left: 40px;
  font-size: 20px;
  height: inherit;
  width: auto;
}
